@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
  scrollbar-width: thin;
  scrollbar-color: #dcdee0 transparent;
}

.no-transition {
  transition-duration: 0ms;
  transition-property: none !important;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  transition: all 300ms;
}

html::-webkit-scrollbar-track {
  background: #dcdee0;
  border-radius: 5px;
}

html::-webkit-scrollbar-thumb {
  background: #0f172a;
  border: 1px solid #dcdee0;
  border-radius: 5px;
}

html.dark::-webkit-scrollbar-track {
  background: #040a27;
}

html.dark::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 1px solid #040a27;
}

.dark ::-webkit-scrollbar-track {
  background: #040a27;
}

.dark ::-webkit-scrollbar-thumb {
  background: #ffffff;
  border: 1px solid #040a27;
}

/* Hamburger Menu */

.hamburger-line {
  @apply my-2 block h-[4px] w-[34px] rounded-md bg-primary-dark transition duration-500 ease-in-out dark:bg-white;
}

.hamburger-active > span:nth-child(1) {
  @apply translate-y-[12px] rotate-[225deg];
}

.hamburger-active > span:nth-child(2) {
  @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -translate-y-[12px] -rotate-[225deg];
}

/* Flickering Text */

.flicker-slow {
  animation: flicker 3s linear infinite;
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
