@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300;
}

.button {
  @apply border-primary-dark bg-secondary text-primary-dark hover:bg-primary-dark hover:text-primary dark:border-white dark:bg-secondary-dark dark:text-white dark:hover:bg-white dark:hover:text-primary-dark;
}

.profile-span {
  @apply font-bold text-primary-dark dark:text-white;
}

.placeholder {
  @apply text-primary-dark dark:text-white absolute -translate-y-7 md:-translate-y-9 scale-90 top-1 md:top-1.5 left-3 text-lg origin-left transition-all peer-focus:-translate-y-7 md:peer-focus:-translate-y-9 peer-focus:scale-90 peer-focus:text-primary-dark dark:peer-focus:text-white peer-placeholder-shown:-translate-y-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:text-gray-500;
}

/* Scrollbar */

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #0f172a;
    border-radius: 100vh;
    border: 1px solid #f6f7ed;
  }
}

/* Glowing Text */

@layer components {
  .glowing-text {
    @apply text-blue-500;
    text-shadow:
      0 0 10px rgba(255, 255, 255, 0.5),
      0 0 20px rgba(255, 255, 255, 0.3),
      0 0 30px rgba(255, 255, 255, 0.2);
    animation: glow 2s ease-in-out infinite alternate;
  }
  @keyframes glow {
    from {
      text-shadow:
        0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
    }
    to {
      text-shadow:
        0 0 20px rgba(255, 255, 255, 0.6),
        0 0 30px rgba(255, 255, 255, 0.4),
        0 0 40px rgba(255, 255, 255, 0.3);
    }
  }
}

/* Flickering Text */

.flicker-slow {
  animation: flicker 3s linear infinite;
}
.flicker-fast {
  animation: flicker 1s linear infinite;
}
@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 0.99;
  }
  20%,
  21.999%,
  63%,
  63.999%,
  65%,
  69.999% {
    opacity: 0.4;
  }
}
